  {{new_user_name}}:
    auth:
      username: {{new_user_name}}
      password: {{new_user_password}}
      project_name: {{new_project_name}}
      auth_url: http://lab05.monsoonknowledge.com:35357/
      user_domain_name: Default
      project_domain_name: Default
